h1 {
  font-family: helvetica, arial, sans-serif;
  text-align: center;
}

body {
  margin: 0 auto;
}

label {
  border: 0;
  //background: rgba(150,150,150,0.6);
  text-shadow: 1px 1px 1px white;
  //border: 1px solid #999;
  //position: absolute;
  cursor: pointer;
  //top: 2px;
  left: 10px;
  font-family: sans-serif;
  //margin: auto, 3;
  padding: 10px;
}

#parent {
    width:800px;
    height:625px;
    border:1px solid #000;
    overflow:auto;
}

.canvas {
    width:auto;
    height:auto;//100%;
}
